body {
    background-color: #E5DADA ;
    padding-top: 60px;
    padding-bottom: 40px;
}

h1 {
    color: #002642 ;
}

.navigation {
    background-color: #e59500 ;
    border: 10px solid #002642 ;
}

img {
    float: left;
    border: 10px solid #e59500;
    width: 150px;
    height: 200px;
}

li {
    list-style-type: none; 
}

.navigation {
    position: fixed;
    top: 0px;
    width: 1440px;
    margin-top: 0;
}
